In [1]:
import pandas as pd

In [3]:
second_data = pd.read_csv('third-new-extracted-data.csv')
second_data.head(20)

    depositSlipDataTextBox  authorisingOfficerDataTextBox      textBox3
0               9134313700                              0  2118VBNHKX1O
1               8035698960                              0  2118VBTRWKFI
2               8037123364                              0  2118VB270N9O
3               8064275899                              0  2118VBQALFT3
4               8106552780                              0  2118VBBJUKG2
5               9017127203                              0  2118VBVS6THO
6               8129636518                              0  2118VB85CJTT
7               8034082589                              0  2118VBSY9OML
8               7012653192                              0  2118VB00BSFY
9               9060216301                              0  2118VBTZ9YSV
10              7083652581                              0  2118VBUTNNAT
11              8063951060                              0  2118VBQHBPRK
12              8117481303                              0  2118VB74AL4H
13              8037123364                              0  2118VBMMHRTT
14              8037123364                              6  2118VBVQWPY5
15              7042205242                              0  2118VBUGQT5N
16              7045762503                              0  2118VBJCAHG2
17              7045762503                              0  2118VBHIZPIC
18              7042205242                              6  2118VBULAIHF
19              8176503174                              6  2118VBWOMEMD

In [4]:
data = pd.read_csv('first-new-extracted-data.csv')
data

     depositSlipDataTextBox authorisingOfficerDataTextBox      textBox3
0                9132029834                            00  2118VBN74QAF
1                8162385991                            00  2118VBWBUFUS
2                7037422855                            00  2118VBSMPQVT
3                9150533801                            00  2118VBZHUY1E
4                8104952964                            00  2118VBIECC1S
..                      ...                           ...           ...
877              9073504605                            06  2118VB799YG0
878              8133400002                            00  2118VBOIOPBT
879              8133400002                            00  2118VBX2TJET
880              9052816093                            00  2118VB4W5KO1
881              8109777723                            00  2118VBWFEVHD

[882 rows x 3 columns]